* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

body {
    background-color: whitesmoke;
    /* Contains the left and right flexboxes and aligns them properly */
    display: flex;
}

#side-banner {
    display: flex;
    flex-direction: column;
}

#righthand {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#explanation-section {
    margin: 30px 300px 30px 30px;
}

#form-section {
    box-shadow: 2px 5px 5px lightgrey;

}

#myform {
    background-color: white;
    padding: 30px 200px 30px 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 10px;
}

.form-element {
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.form-element label {
    margin: 10px 0px 5px 10px;
}

#submit-section {
    margin: 30px;
}

#img-banner {
    height: 100vh;
    width: 500px;
}

#transparent-background {
    background-color: black;
    opacity: 80%;
}

#main-title {
    color: white;
}

#form-inputs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}


input {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    padding: 10px;
    margin: 0px 10px 0px 10px;
    width: 175px;
}

input:focus {
    box-shadow: 2px 2px 2px darkgrey;
}

input[type="submit"] {
    background-color: #596D48;
    color: white;

    font-size: 1rem;

    padding: 15px 20px 15px 20px;
    width: 200px;
    border-radius: 10px;

    margin: 10px;
}

p {
    padding: 10px;
}