* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

@font-face {
    font-family: norse-bold;
    src: url('../fonts/Norse-Bold.otf');
}

body {
    background-color: whitesmoke;
    /* Contains the left and right flexboxes and aligns them properly */
    display: flex;
}

#side-banner {
    display: flex;
    flex-direction: column;
    position: relative;
}

#side-banner img {
    height: 75%;
    object-fit: cover;

}

#transparent-background {
    background-color: black;
    opacity: 70%;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 9rem;

    color: white;
    font-weight: bold;
    text-align: center;

    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

#transparent-background h1 {
    font-family: norse-bold;
    font-size: 4rem;

    z-index: 3;
}

#image-bg-div {
    flex: 0 0 auto;
    position: relative;

    height: 100vh;
    width: 500px;

}

#image-bg-div img {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    /* keeps image aspect ratio and has it fill the div */
    object-fit: cover;

    z-index: 1;
}

#righthand {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#explanation-section {
    margin: 30px 250px 30px 30px;
}

#form-section {
    box-shadow: 2px 5px 5px lightgrey;

}

#myform {
    background-color: white;
    padding: 30px 200px 30px 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 10px;
}

.form-element {
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.form-element label {
    margin: 10px 0px 5px 10px;
}

#submit-section {
    margin: 30px;
}


#main-title {
    color: white;
}

#form-inputs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}


input {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0px 10px 0px 10px;
    width: 175px;
}

label {
    font-size: .8rem;
    font-weight: bold;
    color: rgb(100, 100, 100);
}

input:focus {
    box-shadow: 2px 2px 2px darkgrey;
}

input:invalid {
    border: 1px solid red;
}

input[type="submit"] {
    background-color: #596D48;
    color: white;

    font-size: 1rem;

    padding: 15px 20px 15px 20px;
    width: 200px;
    border-radius: 10px;

    margin: 10px;
}

p {
    padding: 10px;
}